input{
    display: block;
    margin-bottom: 15px;
}
.name-row{
    margin-bottom: 15px;
}
label{
    display: inline;
    margin-right: 5px;
}
.name-input{
    display: inline-block;
    width:15%;
    height: 20px;
    margin-bottom: 20px;
}
#comments{
    width:20%;
    height: 30px;
    margin-bottom: 15px;
}
.newsletter-row{
    display:flex;
}

#email{
    width:25%;
    height: 20px;
}
h1{
    width:100%;
    font-size: 1.8rem;
}
